{% capture current_hostname %}{% include CNAME %}{% endcapture %}
{% capture fqdn_hostname %}{% include hostname.fqdn %}{% endcapture %}
{% capture github_hostname %}{% include hostname.github %}{% endcapture %}
{% assign current_hostname = current_hostname | strip %}
{% assign fqdn_hostname = fqdn_hostname | strip %}
{% assign github_hostname = github_hostname | strip %}
{% if current_hostname == github_hostname and site.url contains fqdn_hostname %}
<meta http-equiv="refresh" content="0; url=https://{{ github_hostname }}{{ page.url }}">
{% endif %}
