:root {
    --background-color: #151515;
    --font-color: #ffffff;
    --invert-font-color: #000000;
    --primary-color: #1a95e0;
    --secondary-color: #727578;
    --block-background-color: #252525;
    --code-bg-color: #2e2e2e;
    --global-font-size: 18px;
}

body {
    max-width: 80ch;
    word-wrap: break-word;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: skyblue;
    margin-bottom: 0.25em;
}

ul>li::after {
    content: "â—";
    color: #252525;
}

.slash {
    color: #535353;
}
