<html>
<head>
    <title>{{ page.title | escape }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/terminal.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/code.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.features %}{% for feature in page.features %}
    	{% include {{ feature | append: ".html" }} %}    
    {% endfor %}{% endif %}
</head>
<body>
    <header>
        <nav style="display: flex; justify-content: space-between; align-items: center; margin-top: 0.5em;">
            <span>
                {%- assign url_parts = page.url | split: '/'-%}
                <a href="/" tabindex={% if url_parts.size == 2 %}"0"{% else %}"-1"{% endif %}>bitplane.net</a><span class="slash">/</span>
                {%- assign path = "" -%}
                {%- assign parent = url_parts.size | minus: 1 -%}
                {%- for part in url_parts -%}
                    {%- unless part == "" -%}
                        {%- assign path = path | append: "/" | append: part -%}
                        <a href="{{ path }}" {% if forloop.index != parent -%}
                                tabindex="-1"
                           {%- endif -%}>
                            {{- part -}}
                        </a>
                        {%- unless forloop.last -%}
                            <span class="slash">/</span>
                        {%- endunless -%}
                    {%- endunless -%}
                {%- endfor -%}</span>
            <span><span class="slash">[</span><a href="{{ '/dev' | relative_url }}" tabindex="-1">dev</a><span class="slash">|</span><a href="{{ '/log' | relative_url }}" tabindex="-1">log</a><span class="slash">|</span><a href="{{ '/home' | relative_url }}" tabindex="-1">home</a><span class="slash">|</span><a href="{{ '/mnt' | relative_url }}" tabindex="-1">mnt</a><span class="slash">]</span></span>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
