<html lang="en">
<head>
    <title>{{ page.title | escape }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/terminal.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/code.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
    <header>
        <nav>
            <a href="/">bitplane.net</a><span class="slash">/</span>{% assign url_parts = page.url | split: '/' %}{% assign path = "" %}{% for part in url_parts %}{% unless part == "" %}{% assign path = path | append: "/" | append: part %}<a href="{{ path }}">{{ part }}</a>{% unless forloop.last %}<span class="slash">/</span>{% endunless %}{% endunless %}{% endfor %}
            <span class="slash">[</span><a href="{{ '/log' | relative_url }}">log</a><span class="slash">|</span><a href="{{ '/dev' | relative_url }}">dev</a><span class="slash">|</span><a href="{{ '/home' | relative_url }}">home</a><span class="slash">|</span><a href="{{ '/mnt' | relative_url }}">mnt</a><span class="slash">]</span>
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
